@import "tailwindcss";
@import "../styles/theme.css";
@import "../styles/typography.css";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";

@custom-variant label (& [data-label]);
@custom-variant focus-input-within (&:has(input:focus));

@utility scrollbar-hide {
    /* Webkit (Chrome, Safari, Opera) */
    &::-webkit-scrollbar {
        display: none;
        -webkit-appearance: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@utility transition-inherit-all {
    transition-property: inherit;
    transition-duration: inherit;
    transition-timing-function: inherit;
}

html,
body {
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual;
    font-kerning: normal;
}

/* Esconde as setas padrão dos inputs number. */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* Esconde o botão de limpar (X) dos inputs de busca. */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
